.app__navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #222831;
  color: #45171d;
  color: #155263;
}

.app__navbar ul {
  display: flex;
  gap: 50px;
}
.app__navbar li {
  list-style: none;
}
.link {
  text-decoration: none;
  color: #222831;
}

.link:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid #155263;
}

.app__navbar h2 {
  font-size: 30px;
  text-transform: uppercase;
}
.app__navbar-more {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

@media screen and (max-width: 470px) {
  .app__navbar-more {
    display: flex;
  }
  .app__navbar-menu {
    display: none;
  }
  .app__navbar ul {
    flex-direction: column;
    justify-content: start;
    padding: 0;
  }
  .app__navbar h2 {
    font-size: 25px;
    margin: 0;
  }

  .app__navbar {
    justify-content: center;
    align-items: start;
    margin-top: 20px;
  }
}
